! ! urxft settings -------------------------------------------------------------
! ! go to https://wiki.archlinux.org/index.php/Rxvt-unicode for more info

URxvt.perl-ext-common:  default,matcher,vtwheel

! ! transparency and colors ----------------------
! ! these colors are far better on the eyes than urxvt's defaults
URxvt.depth: 32
URxvt.background: [98]#050505
URxvt.foreground: #F2F2F2

! ! black
URxvt.color0  : #2E2E34343636
URxvt.color8  : #555557575353
! ! red
URxvt.color1  : #CCCC00000000
URxvt.color9  : #EFEF29292929
! ! green
URxvt.color2  : #4E4E9A9A0606
URxvt.color10 : #8A8AE2E23434
! ! yellow
URxvt.color3  : #C4C4A0A00000
URxvt.color11 : #FCFCE9E94F4F
! ! blue
URxvt.color4  : #34346565A4A4
URxvt.color12 : #72729F9FCFCF
! ! magenta
URxvt.color5  : #757550507B7B
URxvt.color13 : #ADAD7F7FA8A8
! ! cyan
URxvt.color6  : #060698209A9A
URxvt.color14 : #3434E2E2E2E2
! ! white
URxvt.color7  : #D3D3D7D7CFCF
URxvt.color15 : #EEEEEEEEECEC


URxvt.scrollBar: false
URxvt.font: xft:DejaVuSansMono:size=9:antialias=false

! ! url hacks ------------------------------------
! ! mostly allows for the clicking of links in irssi
URxvt.urlLauncher:      /usr/bin/google-chrome
URxvt.underlineURLs:    true
URxvt.urlButton:        2

! ! copy/paste -----------------------------------
! ! don't use this very often, but nice to know I can.
URxvt.keysym.M-u:   perl:url-select:select_next
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste

! ! tabs -----------------------------------------
! add "tabbed" to the list of perl-ext-common
! Shift+<down>   new tab
! Shift+<left>   left tab
! Shift+<right>  right tab
! Shift+<up>     names a tab
! Ctrl+<left>    move tab left
! Ctrl+<right>   move tab right
! Ctrl+D         close tab

! ! Colors: 
! URxvt.tabbed.tabbar-fg: 2
! URxvt.tabbed.tabbar-bg: 0
! URxvt.tabbed.tab-fg:    3
! URxvt.tabbed.tab-bg:    0
